html,
body,
div {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.list {
  display: grid;
  grid-template-rows: auto;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.list-item-wrapper {
  display: grid;
  grid-template: auto auto auto / auto 1fr 1fr;
  grid-template-areas: 
    "drg-ico  txt       txt"
    "drg-ico  vwl-opt   com-opt"
    "drg-ico  .         btn-rmv";
  gap: 1rem;
}

.drag-icon {
  grid-area: drg-ico;
  align-self: center;
}

.textarea {
  grid-area: txt;
}

.vowel-options {
  grid-area: vwl-opt;
}

.competitor-options {
  grid-area: com-opt;
}

.btn-remove-wrapper {
  grid-area: btn-rmv;
  justify-self: end;
}

.btn-add-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}